<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single item</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1><div class="container-fluid">
        <!-- include navbar  -->
        {% include 'navbar.html' %}
    
        <section class="row">
            <div class="col-md-4 p-2 ">
                <img src="../static/images/{{ product[5] }}" alt="advert" class="w-100">
            </div>

            <div class="col-md-8 p-2">
 <!-- title  -->
            <h3 class="text-warning"> {{product[1]}} </h3>
            
            <br>
            <p> {{product[2]}} </p>
            <br>
            <b class="text-danger">Product category: {{product[4]}} </b>
            <br>
            <b class="text-success">Product Quantity</b><br><br>
            <b class="text-success">Product Cost : {{product[3]}} </b><br><br>
            <!-- check if email exists in session['key']  -->
            {% if session['key'] %}
            <!-- it means the user is logged in  -->
            <!-- you can now proceed to make payment  -->

            <!-- show user a form to complete payment  -->
            <form action="/mpesa" method="post">
                <!-- create a phone number input  -->
                <input type="number" class="form-control" placeholder="Enter phone 254xxxxxx" name="phone">
                <label for="">To pay KES</label>
                <input type="number" class="form-control" value="{{product[3]}}" name="amount">
                <br>
                <input type="submit" value="Pay Now" class="btn btn-info">
            </form>

            {% else %}
            <!-- user is not logged in  -->
            <!-- ask them to login to make a purchase  -->
            <h4 class="text-warning">please sign in to make a purchase</h4>
            <a href="/login" class="btn btn-dark btn-small">Login</a>

            {% endif %}
            
            </div>
        </section>
    </div>
</h1>
</body>
</html>